# OZELIF Metabase environment template
#
# COPY this file to the appropriate local .env file.
# NEVER commit production values.

MB_DB_DBNAME=
MB_DB_HOST=
MB_DB_PASS=
MB_DB_PORT=
MB_DB_TYPE=
MB_DB_USER=
METABASE_DOCKER_NETWORK=
OZELIF_ANALYTICS_DB_HOST=
OZELIF_ANALYTICS_DB_NAME=
OZELIF_ANALYTICS_DB_PASSWORD=
OZELIF_ANALYTICS_DB_PORT=
OZELIF_ANALYTICS_DB_USER=
